- var CatalogBlockTitle = ['', '1450 Cloudcroft Drop', '140 Small Village', '1250 Lake House', '1450 Cloudcroft Drop', '150 Small Village', '1350 Lake House'];
- var CatalogBlockSubTitle = ['', 'Illinois / Chicago', 'Missouri / Kansas City', 'Colorado / Denver', 'Illinois / Chicago', 'Missouri / Kansas City', 'Colorado / Denver'];
- var CatalogBlockPrice = ['', '$250,000', '$200,000', '$339,000', '$250,000', '$200,000', '$339,000'];
section.catalog
	.container
		.section-title.catalog__title
			h2 Featured Properties
		.catalog__text 
			p Quisque diam lorem interdum vitaapibus vitae pede. Donec eget tellus non erat lacinia fertum. Donec in velit vel ipsum auctovinar.
		.catalog-blocks
			- for(var i = 1; i < 7; i++)
				.catalog-block
					.catalog-block__img
						img(src=`img/catalog/product-img-${i}.jpg` alt=`Interior №${i}`)
					.catalog-block__title
						h3=`${CatalogBlockTitle[i]}`
					.catalog-block__subtitle
						h4=`${CatalogBlockSubTitle[i]}`
					.catalog-block__price=`${CatalogBlockPrice[i]}`
					.catalog-block__descr
						ul.catalog-block__descr-items
							li.catalog-block__descr-item