- var agentName=['', 'Lisa Gerrard', 'John Merrard', 'Milana Source']; 
- var agentDescr=['', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, raesent luptatum zzril delenit augue duis dolore te feugait nulla nonummy nibh euismod tincidunt facilisi.', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, raesent luptatum zzril delenit augue duis dolore te feugait nulla nonummy nibh euismod tincidunt facilisi.', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, raesent luptatum zzril delenit augue duis dolore te feugait nulla nonummy nibh euismod tincidunt facilisi.'];
- var agentContactPhone=['', '+ 7 (123) 456-78-99', '+ 7 (123) 466-79-39', '+ 7 (123) 333-70-94'];
- var agentContactEmail=['', 'lisa.gerrard@realhome.com', 'john.merrard@realhome.com', 'milana.source@realhome.com'];
section.agents
	.container
		.agents-title.section-title Our Agents
		.agents-slider
			- for(var i = 1; i < 4; i++)
				.agents-slider__item
					.agents-slider__item-photo
						img(src=`img/agents/agent-${i}.jpg` alt=`Photo of agent №${i}`)
					.agents-slider__item-text
						.agents-slider__item-text__title
							h3=`${agentName[i]}` 
						.agents-slider__item-text__descr
							p=`${agentDescr[i]}` 
						.agents-slider__item-text__contact
							.agents-slider__item-text__contact-item.agents-slider__item-text__contact-item_phone=`${agentContactPhone[i]}`
							.agents-slider__item-text__contact-item.agents-slider__item-text__contact-item_email=`${agentContactEmail[i]}`

